body{ margin: 0px;}
.subTitle{
  position: absolute;
  left: 80px; top:40px; font-size: 14px; color: #ccc;
}
.css-4t3x6l-MuiPaper-root-MuiDrawer-paper,
.css-1imw6t8-MuiDrawer-docked .MuiDrawer-paper{
  background-color: #111827 !important;
  color: rgb(209, 213, 219) !important;
}
.css-h4y409-MuiList-root{
  padding: 10px !important;
}
.css-1nxmd3h-MuiListItem-root:hover{
  background-color: rgb(36 42 56);
  cursor: pointer;
  width: 95%;
  border-radius: 10px;
}
.css-10hburv-MuiTypography-root,.css-ahj2mt-MuiTypography-root{
  font-weight: 600 !important;
}
.css-yw020d-MuiAccordionSummary-expandIconWrapper{
  color: #ccc !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root:first-of-type,
.css-1elwnq4-MuiPaper-root-MuiAccordion-root:last-of-type,
.css-1elwnq4-MuiPaper-root-MuiAccordion-root
{
  background: transparent !important;
  color: #ccc !important;
  box-shadow: none !important
}
.css-1whpjm6-MuiToolbar-root {
  position: absolute !important;
  width: 92.5% !important;
  z-index: 1010 !important;
  right: 25px !important;
  background: #eaecee !important;
  margin-top:-7px;
}
.css-pjjt8i-MuiToolbar-root{
  display: none !important;
}
.css-15wwp11-MuiTableHead-root{
  background-color: #f3f4f6;
}

.apexcharts-legend-series, .apexcharts-datalabels{
  display: none;
}

